[submodule "3rdparty/create_robot"]
	path = 3rdparty/create_robot
	url = git@github.com:AutonomyLab/create_robot.git
[submodule "containers/dockerfiles"]
	path = containers/dockerfiles
	url = https://github.com/amidg/dockerfiles.git
[submodule "demo/ros2_control_demos"]
	path = demo/ros2_control_demos
	url = https://github.com/ros-controls/ros2_control_demos.git
[submodule "3rdparty/twist_stamper_for_testing"]
	path = 3rdparty/twist_stamper_for_testing
	url = https://github.com/joshnewans/twist_stamper.git
[submodule "3rdparty/libcreate"]
	path = 3rdparty/libcreate
	url = https://github.com/amidg/libcreate.git
